html{
  width:100%;
  height:100%;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: relative;
  background-color: #053749;
    width:100%;
  height:100%;

}
a{
  text-decoration: underline;

}
a:hover,a:active{
  color:#fff;
  text-decoration: none;
}
#streamgraph{
  position: absolute;
  bottom:0;
  left: 0;
}
.node {
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
.time-label{
	position:absolute;
	color:#fff;
}
.timeline-labels, .time-label{
  font-family: sans-serif;
  font-size: 12px;
  text-shadow: 2px 2px 4px rgba(50, 50, 50, 1);
  display:none;
  fill:#fff;
  z-index: 1;
}
rect{
	opacity:0.0;
}
.miLinea,.miLinea-h1{
	display:none;
	stroke: #ccc;
	stroke-width:1px;
	fill:none;
}
.stream{
  stroke: #ccc;
  fill: #042c3a;
  stroke-width: 0.5px;
}
.stream-days{
  fill-opacity:0;
  stroke-opacity:0;
  fill:red;
  stroke: #ccc;
  stroke-width: 0.5px;
}
#about-button{
  position: absolute;
  top:0px;
  left:15px;
  color:#0088cc;
}
#time-space{
  position: absolute;
  top:0px;
  right:15px;
  color:#0088cc;
}
#time-space a{
  text-decoration: underline;
  letter-spacing: 0.1em;
}
#time-space a.selected,#time-space a:hover{
  color:white;
  text-decoration: none;
}
#time-space a.selected{
  text-decoration: none;
}
#about-modal,#guestbook-modal{
  color: #ddd;
  background-color: #053749;
  border: 1px solid #ccc;
}
.modal-footer{
  background-color: #053749;
  border-top:none;
}
.network-name-label{
  display:none;
  fill:#CCC;
}
#visitor-info{
  display:none;
  background:rgba(255,255,255,0.7);
  border:1px solid #ccc;
  padding:2px 5px;
  position:absolute;
  color:#000;
  font-family: sans-serif;
  font-size: 12px;
  /*text-shadow: 1px 1px 1px rgba(50, 50, 50, 1);*/
  z-index: 1;
}
#person-entered{
  -webkit-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
  text-align: center;
  left: 36%;
  top: -100px;
  line-height: 1.9em;
  font-size: 0.9em;
  color: #222;
  background-color: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
  padding: 5px 20px;
  position: relative; 
  left: -50%;
}

